<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ibn Rochd University &mdash; Website by AngryBirds</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="static/frontend/fonts/icomoon/style.css">

    <link rel="stylesheet" href="static/frontend/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/frontend/css/jquery-ui.css">
    <link rel="stylesheet" href="static/frontend/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/frontend/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="static/frontend/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="static/frontend/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="static/frontend/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="static/frontend/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="static/frontend/css/aos.css">

    <link rel="stylesheet" href="static/frontend/css/style.css">
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
      
      <div class="container-fluid">
        <div class="d-flex align-items-center">
          <div class="site-logo mr-auto w-25"><a href="land-page.html">Ibn Rochd University</a></div>

          <div class="mx-auto text-center">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0">
                <li><a href="land" class="nav-link">Home</a></li>
                <li><a href="land" class="nav-link">Courses</a></li>
                <li><a href="land" class="nav-link">Programs</a></li>
                <li><a href="teachers" class="nav-link">Teachers</a></li>
                <li><a href="students" class="nav-link">Students</a></li>
                <li><a href="parents" class="nav-link">Parents</a></li>
              </ul>
            </nav>
          </div>

          <div class="ml-auto w-25">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
                <li class="cta"><a href="signup" class="nav-link"><span>Sign Up</span></a></li>
              </ul>
            </nav>
            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a>
          </div>
        </div>
      </div>
      
    </header>

    
    <div class="site-section bg-image overlay" style="background-image: url('static/frontend/images/hero_1.jpg');">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-8 text-center testimony">
            <img src="static/frontend/images/parents.webp" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
            <h2 class="mb-4" > <span style="color: white;"><u>Parents Sign In Page</u></h2></span>
            <blockquote>
              <p>&ldquo; Welcome to the Parent Portal of Ibn Rochd University! We believe in fostering a safe and nurturing environment for your child's education. As a responsible parent, you can use this portal to monitor and manage your child's progress, attendance, and more. &rdquo;</p>
            </blockquote>

          </div>
        </div>
      </div>
    </div>


    
  </body>
  <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
              <a href="parents-section.html" class="logo d-flex align-items-center w-auto">
                <span class="d-none d-lg-block">See Your Child's Progress!</span>
              </a>
            </div><!-- End Logo -->

            <div class="card mb-3">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                  <p class="text-center small">Enter your username & password to login</p>
                </div>

                <form class="row g-3 needs-validation" novalidate>

                  <div class="col-12">
                    <label for="yourEmail" class="form-label">Email</label>
                    <div class="input-group has-validation">
                      <input type="text" name="email" class="form-control" id="yourName" required>
                      <div class="invalid-feedback">Please enter your Email.</div>
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="yourPassword" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="yourPassword" required>
                    <div class="invalid-feedback">Please enter your password!</div>
                  </div>

                  <div class="col-12">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                      <label class="form-check-label" for="rememberMe">Remember me</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit">Login</button>
                  </div>
                  <div class="col-12">
                    <p class="small mb-0">Don't have account? <a href="pages-register.html">Create an account</a></p>
                  </div>
                </form>

              </div>
            </div>

          </div>
        </div>
      </div>

    </section>

  </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <div class="border-top pt-5">
          <p>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Website Made With Love <i class="icon-heart" aria-hidden="true"></i> by AngryBirds</a>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    </p>
          </div>
        </div>
        
      </div>
    </div>
  </footer>
</html>